extends layout

block content

    div(id="home")
        h1 This webapp uses live <strong>METAR AND RUNWAY DATA</strong> to find the runway a plane would land on.
        form(action="/result", method="POST")
            input(name="airport_id", type="text", placeholder="Airport ICAO code", onkeyup="inputChange(this)")
            input(type='submit')
    script.
        function inputChange(el) {
            if (!el || !el.value) return;
            el.value = el.value.toUpperCase();
        }