extends layout

block content

    div(id="home")
        h1 This webapp uses live <strong>METAR AND RUNWAY DATA</strong> to find the runway a plane would land on.
        form(action="/result", method="POST")
            input(name="airport_id", type="text", placeholder="Airport ICAO code", onkeyup="inputChange(this)")
            input(type='submit')
    script.
        function inputChange(el) {
            if (!el || !el.value) return;
            el.value = el.value.toUpperCase();
        }
        function party() {

           // document.getElementById("partyyyy").className = ("move");
             var element = document.getElementById("partyyyy");
             element.classList.add("move");


            setTimeout(function () {
                element.classList.remove("move");
            }, 2500)
        }

block credits
    div(id = "credits")
        h3 &copy Created by Eric, Alex, and Jacob in 2017
        br
        h3(style='margin-bottom : 10px;') Thank us with this button! :)
        input(type='submit', value='Press', onclick='party()')
        img(src='../stylesheets/partyyyy.png', id='partyyyy')