* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    text-align: center;
    font: 12px "Montserrat", Helvetica, Arial, sans-serif;
}
#home {
    padding-top: 10%;
    background: url('wallpaper.jpg') no-repeat no-repeat 30% 30%;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.58);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: #ffffff;
}
#result {
    padding-top: 10%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: #000000;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
}
#result_display {
    padding-top: 2%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: #000000;
}
#map {
    -webkit-box-shadow: 0 0 158px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 158px -26px rgba(0,0,0,0.75);
    box-shadow: 0 0 158px -26px rgba(0,0,0,0.75);
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
}
a, a:visited, a:active {
    padding-top: 20px;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 15px;
    font-weight: bold;
    transition: color .5s;
}
a:hover {
    color: #5e5e5e;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

h1 {

    padding: 40px;
}
#result_display h1 {
    padding: 20px;
    margin-top: -20px;
}
h2 {
    padding-top: 15%;
    padding-bottom: 15px;
    font-size: 50px;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.58);
    color: #424242;
    font-weight: bold;
}
#error {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
}
#ext {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
}
#error p {
    font-size: 16px;
}
#error a {
    font-size: 14px;
}
strong {
    font-size: 26px;
    color: #4c4c4c;
}


input[type="text"] {
    border: 0;
    border-bottom: solid #ffffff 4px;
    width: 200px;
    font: 20px "Montserrat", Helvetica, Arial, sans-serif;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
input[type="text"]:focus {
    outline: none;
}
input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-weight: normal;
}
input[type="submit"] {
    border: 0;
    border-bottom: solid #ffffff 4px;
    background: #ffffff;
    font: 20px "Montserrat", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    color: #2f2f2f
}
input[type="submit"]:focus {
    outline: none;
}
#credits {
    position : relative;
    margin-top : 50%;
    color :rgb(150,205,215);
    font-family : Futura, sans-serif;
    font-size : 120%;
}
#credits input{
    border : 1px solid black;
}
@keyframes kek {
    0% {background-color: white;color : black;top:2px;}
    50% {background-color: rgb(100,100,100);color : white;bottom:2px;}
    100% {background-color: white;color : black;top:2px;}
}
#credits input:hover{
    position : relative;
    animation-name: kek;
    animation-duration: 0.5s;
    animation-iteration-count : infinite;
}
#partyyyy{
    position : fixed;
    display : none;
}
.move{
    display : block !important;
    position : fixed;
    animation-name : kek1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes kek1{
    0% {top:150%;}
    100% {top:-150%;}
}